<h2 mat-dialog-title>{{ form.value.id ? 'Editar Tarefa' : 'Nova Tarefa' }}</h2>
<mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Título</mat-label>
    <input matInput formControlName="title" />
    @if (form.get('title')?.hasError('required')) {
      <mat-error>
        Título é obrigatório
      </mat-error>
    }
    @if (form.get('title')?.hasError('maxlength')) {
      <mat-error>
        Máx 100 caracteres
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Descrição</mat-label>
    <textarea matInput formControlName="description" rows="3"></textarea>
    @if (form.get('description')?.hasError('maxlength')) {
      <mat-error>
        Máx 500 caracteres
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Data</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    @if (form.get('date')?.hasError('required')) {
      <mat-error>
        Data é obrigatória
      </mat-error>
    }
    @if(form.get('date')?.hasError('dateInPast')) {
      <mat-error>
        A data não pode ser anterior a hoje
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Categoria</mat-label>
    <mat-select formControlName="category">
      @for (category of categories; track category) {
        <mat-option [value]="category">
          {{ category.name }}
        </mat-option>
      }
    </mat-select>
    @if (form.get('category')?.hasError('required')) {
      <mat-error>
        Categoria é obrigatória
      </mat-error>
    }
  </mat-form-field>

  <mat-checkbox formControlName="completed">Concluído</mat-checkbox>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="save()" [disabled]="form.invalid">Salvar</button>
</mat-dialog-actions>
