<h2 mat-dialog-title>Gerenciar categorias</h2>

<mat-dialog-content>
  <mat-list>
    @for (category of categories; track category) {
      <mat-list-item>
        <span>{{ category.name }}</span>
        <!-- todo tratamento quando existe task já vinculada (drop cascade/mensagem de erro pro usuário/confirmação de cascade) -->
        <button mat-icon-button color="warn" (click)="deleteCategory(category)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    }
  </mat-list>

  <form [formGroup]="form" style="margin-top: 16px;">
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Nome da nova categoria</mat-label>
      <input matInput formControlName="name" />
      @if (form.get('name')?.hasError('required')) {
        <mat-error>
          Nome é obrigatório
        </mat-error>
      }
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="addCategory()" [disabled]="form.invalid">
      Adicionar
    </button>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Fechar</button>
</mat-dialog-actions>
